<app-heading-restaurant
  [nombre]="nombre"   
  [direccion]="direccion"
></app-heading-restaurant>

<div style="width: 100%;">
  <div style="float: left; width: 50%;">
    <app-lista-epleados [empleados]="empleados"></app-lista-epleados>
  </div>
  <div style="float: left; width: 50%;">
    <app-lista-pedidos [pedidos]="pedidos"></app-lista-pedidos>
  </div>
</div>

<!--<router-outlet></router-outlet> -->
